.bottom-icon {
	color:rgb(45, 45, 45); 
	margin-top: 10px;
}
		
.nav-tabs {
	text-align: center;
	height: 25px;
	line-height:25px;
}
		
.navbar {
	background-color: #f5f5f5; 
	border-top: 3px solid #e5e5e5;
}

.bottom-nav:hover {
	background-color: #0099cc;
}

.plus-icon {
	font-size: 55px;
	z-index:999;
	position:fixed; 
	bottom: 8%;
	left: 43%;
}	