
.img-circle {
	width: 40%;
}

.file {
	position: relative;
	display: inline-block;
	background: #0086b3;
	border-radius: 4px;
	padding: 4px 12px;
	overflow: hidden;
	color: #ffffff;
	text-decoration: none;
	text-indent: 0;
	line-height: 20px;

}

.file input {
	position: absolute;
	font-size: 100px;
	right: 0;
	top: 0;
	opacity: 0;
}

.file:hover {
	background: #006384;
	color: #ffffff;
	text-decoration: none;
}
